.Kiri {
  display: none;
}

.HalamanContact {
  background-color: white;
}
.ButtonSubmit {
  border-radius: 20px;
  background-color: #f47522;
  padding: 5px 15px;
  color: white;
  margin: 0;
  border: 1px;
}

button:hover {
  background-color: #e4640f;
}

@media only screen and (min-width: 750px) {
  .Kiri {
    display: block;
  }

  .Logo {
    background-color: #19345ea6;
    height: 750px;
    width: 500px;
  }

  .Logo-alta {
    margin-bottom: 300px;
    opacity: 0 5;
  }
}
